language: java

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

before_install:
  - chmod +x ./mvnw
  - echo "spring.profiles.active = azure" > src/main/resources/application.properties

install: ./mvnw clean package

script: true

before_deploy:
  - mkdir webapps
  - cp target/web-0.0.1-SNAPSHOT.war webapps/ROOT.war
  - rm -R target/

deploy:
  provider: azure_web_apps
  skip_cleanup: true
